methods => like an interface
envfree => which doesn't depends on msg.value,msg.sender anything
require to filter the var values
if condition or assert statement-1 => statement-2
trasfer@withrevert() : by default certora leaves the revert path

lastReverted <=> statements

method f;
calldataarg args;

definition to create helper function

invariant
ghost => Ssload, Sstore

lastStorage => used to store state to replay